  <!--- Incude the banner's CSS --->
  <link href = "css/banner.css" rel = "stylesheet"/>
</head>
<body id = "body">
<div id = "banner">
  <a href = "/adminHome">
    <img id = "QuickBitesLogo" src = "/pictures/QuickBites.png" object-fit = "contain" />
  </a>
  <div id = "bannerButtonContainer">
    <a href = "/vendorLogin">
      <button id = "vendorButton"> Looking to Sell? </button>
    </a>
    <a href = "/">
      <button id = "userButton"> Looking to Shop? </button>
    </a>
  </div>
</div>
