<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">

<div id = "banner">
  <h1 id = "logo">
    QuickBites
  </h1>
  <div id = "bannerButtonContainer">
    <a href="/vendorLogin" class="btn btn-danger"> Looking to Sell?</a>
    <a href="/userLogin" class="btn btn-success"> Hungry?</a>
  </div>
</div>
