<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">

<div id = "banner">
  <h1 id = "logo">
    QuickBites
  </h1>
  <div id = "bannerButtonContainer">
    <a href="/vendorLogin">
      <button class="btn btn-danger" type="button" > Looking to Sell? </button>
    </a>
  </div>
</div>
