  <!--- Incude the banner's CSS --->
  <link href = "css/banner.css" rel = "stylesheet"/>
</head>
<body id = "body">
<div id = "banner">
  <a href = "/home">
    <img id = "QuickBitesLogo" src = "/pictures/QuickBites.png" object-fit = "contain" />
  </a>
  <div id = "bannerButtonContainer">
    <a href = "/vendorLogin">
      <button id = "vendorButton"> Looking to Sell? </button>
    </a>
  </div>
  <div id = "userButtonContainer">
    <a href = "/userAccountInfo">
      <div id = "userAccountIcon" hover>
        <img id = "userAccount" src = "/pictures/userIcon.png" object-fit = "contain">
      </div>
    </a>
  </div>
</div>
