<!--- Incude the banner's CSS --->
<link href = "css/banner.css" rel = "stylesheet"/>
</head>
<body id = "body">
<div id = "banner">
<a href = "/vendorHome">
  <img id = "QuickBitesLogo" src = "/pictures/QuickBites.png" object-fit = "contain" />
</a>
<div id = "bannerButtonContainer">
  <a href = "/">
    <button id = "userButton"> Looking to Shop? </button>
  </a>
</div>
</div>
