<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Login</title>


  </head>
  <body onload="message()">

          <h3>Login</h3>
          <form action="/" method="post">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="text" name="userEmail" class="form-control" id="exampleFormControlEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="text" name = "userPassword" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
            </div>
            <button type="submit" name="loginBtn" value="logging" class="btn btn-primary">Submit</button>
          </form>


    <div id="login_register_status" style="display:none">
      <%=status%>
    </div>
    <h1>Status: <%=JSON.parse(status).status%></h1><break/>
    <h1>Regular Login -> email: "john@gmail.com" password: "p"</h1><break/>

    <h1>Meaning of Status</h1>
    <h2>SUCCESS = No Tautology Attack Detected, Login Successful</h2>
    <h2>FAIL = No Tautology Attack Detected, Login Failed</h2>
    <h2>ATTACK DETECTED = Tautology Attack Detected, Login Failed</h2>
    <h2>ERROR = Server could not process input, Login Failes</h2>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
    function message(){
      //let status = JSON.parse(document.getElementById("login_register_status").innerHTML).status;
      //console.log(status);
      // if (status == "register-fail") alert("REGISTER FAILED: Pick a new email");
      // else if (status == "register-success") alert("REGISTER SUCCESSFUL!");
      // else if (status == "login-fail")
      // else if (status == "login-success")
    }

    </script>

  </body>

  </html>
