<!DOCTYPE html>
<head>
  <link href = "css/userAccountInfo.css" rel = "stylesheet"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">

</head>
<body id = "body">
	<div id = "banner">
			<img id = "QuickBitesLogo" src = "/pictures/QuickBites.png" object-fit = "contain" />
		<div id = "bannerButtonContainer">
			<button id = "shopButton"> Looking to Shop? </button>
			<button id = "adminButton"> Admin Access </button>
		</div>
	</div>
  <table class = "contentTable">
    <tr>
      <td class = accountInfoColumn>
        <div id="accountInfoContainer">
      		<h2 id = "accountInfoHeader">
      			<div class = "headerFormat"> Your Account </div>
      		</h2>
      		<div class = "accountInfo">
      			<div class = "accountInfoFormat"> Email </div>
      		</div>
      		<div class = "accountInfo" id = "userEmail">
      			<div class = "accountInfoFormat"> insert email here </div>
      		</div>
      		<div class = "accountInfo">
      			<div class = "accountInfoFormat"> Name </div>
      		</div>
      		<div class = "accountInfo" id = "userName">
      			<div class = "accountInfoFormat"> insert name here </div>
      		</div>
      		<div class = "accountInfo">
      			<div class = "accountInfoFormat"> Password </div>
      		</div>
      		<div class = "accountInfo" id = "userPassword">
      			<div class = "accountInfoFormat"> insert password here </div>
      		</div>
      		<div class = "accountInfo">
      			<div class = "accountInfoFormat"> Address </div>
      		</div>
      		<div class = "accountInfo" id = "userAddress">
      			<div class = "accountInfoFormat"> insert address here </div>
      		</div>
      		<div class = "editInfoButtonContainer">
      			<button id = "editButtonID" class = "editButton">
      				Edit Information
      			</button>
      		</div>
      	</div>
      </td>

      <td class = orderHistoryColumn>
        <div id = "orderHistoryContainer">
      		<h2 id = "orderHistoryHeader">
      			<div class = "headerFormat"> Your Order History </div>
      		</h2>
      	</div>
      </td>

      <td class = supportTicketsColumn>
        <div id = "supportTicketsContainer">
      		<h2 id = "accountInfoHeader">
      			<div class = "headerFormat"> Support Tickets </div>
      		</h2>
      	</div>
      </td>
    </tr>
  </table>
  <form id = "post1" style="display: none;" action = "/" method = "post">
    <input type = "text" name = "email">
    <input type = "text" name = "name">
    <input type = "text" name = "password">
    <input type = "text" name = "address">
  </form>

  <!-- //feedback from server -->
  <h1 style = "display:none" id = "ue"> <%=data%> </h1>

  <!-- //javascript for page functionality -->
	<script src="scriptsource/userAccountInfo.js"> </script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      let account = JSON.parse(document.getElementById("ue").innerHTML);

      let name = account.p.first
      let email = account.p.email;
      let password = account.p.password;
      let address = account.p.address;
      displayAccountInfo(email, name, password, address);

      //Displaying user's order history
      account.o.forEach(function(order){
        let name = order.vendorName;
        let dish1, dish2, dish1Amount, dish2Amount, dish1price, dish2price;
        let counter = 0;
        order.items.forEach(function(item){
          if (counter == 0) {
            dish1 = item.name;
            dish1Amount = item.quantity;
            dish1price = item.price;
          } else if (counter == 1){
              dish2 = item.name;
              dish2Amount = item.quantity;
              dish2price = item.price;
          } counter++;
        });
        if (dish2 != null) buildOrderCard2(name, dish1, dish1Amount, dish2, dish2Amount, dish1price + dish2price);
        else buildOrderCard1(name, dish1, dish1Amount, dish1price);
      });

      //displaying all of user's tickets
      account.t.forEach(function(ticket) {
        buildSupportTicket(ticket.receiverName, ticket.status, ticket.body);
      });
    });
  </script>
</body>
