<!DOCTYPE html>
<head>
  <link href = "css/userHomePage.css" rel = "stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
  <%-include("partials/userHomeBanner")-%>
  <div id = "backgroundStockImage">
    <div id = "searchContainer">
      <div id = "searchBar">
        <input id = "searchStyle" onkeyup="search()">
      </div>
      <div id = "searchButtonContainer">
      </div>
    </div>
  </div>
  <div id = "searchResults">
    <div id = "restaurantResults">
      <h3> Restaurant Results </h3>
    </div>
    <div id = "itemResults">
      <h3> Food Results </h3>
    </div>
    <div id = "advertisementContainer">
      </div>
    </div>
  </div>
  <div style = "display:none" id = "serverData"> <%=menuAndOrder%> </div>
  <form id="post1" style="display: none;" action="/userHome" method="post">
    <input type = "text" name = "email" >
  </form>
  <form id="removeItem" style="display: none;" action="/userDeleteItem" method="post">
   <input type = "text" name = "item" >
   <input type = "text" name = "url" >
 </form>
  <script src="scriptsource/userHomePage.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Getting json object containing menu/order
    let menuAndOrder = JSON.parse(document.getElementById("serverData").innerHTML);

        let menuCounter = 0;
        //iterating through menu object
        menuAndOrder.menu.forEach(function (menu) {
          //checking if 4 vendor caards are filled
          if (menuCounter < 4) {
            console.log(menu.vendorEmail);
            buildVendorCard(menu.vendorName, menu.sections[0].items[0].image, menu.vendorEmail);
            menuCounter++;
          }
        });
        // shopping cart
        if (menuAndOrder.order.length == 0){}
        else {
          // let vName = menuAndOrder.order.vendorName;
          console.log(menuAndOrder.order[0].items);

          //iterating through order Object
          menuAndOrder.order[0].items.forEach(function (menuItems) {
            console.log(menuItems);
            addItemToShoppingCart(menuItems.name, menuItems.quantity, menuItems.price);
          });
        }

    });
  </script>
</body>
