<!DOCTYPE html>
<head>
  <link href = "css/userCheckout.css" rel = "stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

  <!--- Incude the banner --->
  <%- include("partials/userHomeBanner.ejs") -%>


  <div id = "checkoutContainer">
    <div id = "orderSummaryHeader">
      <h2>Order Summary</h2>
    </div>
    <!--- Container to hold the order summary table--->
    <div id = "orderContainer" class = "TBD">
      <table id = "checkoutTable" class = "table table.bordered">
        <tr>
          <th> Name </th>
          <th> Quantity </th>
          <th> Price </th>
        </tr>
      </table>
    </div>
    <!--- Holds special request input and order submission button--->
    <div id = "subOrderContainer">
      <textarea id = "specialRequests" placeholder = "Enter special request(s):"></textarea>
      <div>
        <button id = "submitButton" class = "btn btn-success" onclick = "submitOrder(); alert('Order submitted!');">Submit Order</button>
      </div>
    </div>

    <!--- Hidden form for post request--->
    <form style = "display:none" id = "postForm" action = "/userCheckout" method = "post">
      <input type = "text" name = "order"><input/>
    </form>
    <form id="removeItem" style="display: none;" action="/userDeleteItem" method="post">
      <input type = "text" name = "item" >
      <input type = "text" name = "url" >
    </form>

  </div>
  <div style = "display:none" id = "serverData"> <%=menuAndOrder%> </div>
  <script src="scriptsource/userCheckout.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {

      let menuAndOrder = JSON.parse(document.getElementById("serverData").innerHTML);
      menuAndOrder.items.forEach(function (menuItems) {
        addItemToShoppingCart(menuItems.name, menuItems.quantity, menuItems.price);
        addItemToCheckoutTable(menuItems.name, menuItems.quantity, menuItems.price);
      });
        addTotal();
    });
  </script>
</body>
