<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title>Vendor Edit Menu</title>
  </head>
  <body>
    <div id = "backgroundStockImage">
      stock image goes here
    </div>
    <!-- for each section -->
    <div class="container-fluid">
    <% menu.forEach(function(section){ %>
      <div class="row justify-content-center sectionCard">
        <h1><%=section.title%></h1>
        <%# for each item %>
        <% let counter = 0; %>
        <% let rowClosed; %>
        <% section.items.forEach(function(item){ %>
          <%# if we hit a third item, create a new row %>
          <% if (counter % 2 == 0) { %>
            <div class="row justify-content-center">
              <% rowClosed = false;%>
          <%}%>
          <!-- start of item card -->
          <div class="col-sm itemCard">
            <div class="card mb-3" style="width: 21rem;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="..." alt="Card image cap" class="card-img-top">
                </div>
                <div class="col-md-8">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%=item.name%></li>
                    <li class="list-group-item"><%=item.calories%></li>
                    <li class="list-group-item"><%=item.price%></li>
                  </ul>
                  <div class="row">
                    <div class="col-sm">
                      <button type="button" class="btn btn-primary" name="button">Delete Item</button>
                    </div>
                    <div class="col-sm">
                      <button type="button" class="btn btn-primary" name="button" onclick = "editItem(this)">Edit Item</button>
                    </div>
                    <div class="col-sm">
                      <button type="button" class="btn btn-danger" name="button">Mark Unavailable</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!-- end of item card -->
            <% if (counter % 2 == 1) { %>
              <% rowClosed = true; %>
              </div>
            <%}%>
            <% counter++; %>
          <%});%>
          <% if (!rowClosed) { %>
            <!-- </div> -->
          <%}%>
          </div>

        <%});%>
        </div>
    </div>
    <script>
    let menu = [];
    //looping through each section
    for (let i = 0; i < sectionslength; i++) {
      //getting all items in each section
      let itemsp = sections[i].getElementsByClassName("itemCard");

      let itemslength;
      let menuSection = {};
      menuSection.title = sections[i].children[0].innerHTML;
      let items = [];

      let itemsCounter = 0; //items counter

      //loop through each item
      Array.from(itemsp).forEach(function(foodItem){
        let item = {};

        //getting all information related to items
        item.Name = itemsp[itemsCounter].children[0].children[0].children[1].children[0].children[0].innerHTML;
        item.Calories = itemsp[itemsCounter].children[0].children[0].children[1].children[0].children[1].innerHTML;
        item.Price = itemsp[itemsCounter].children[0].children[0].children[1].children[0].children[2].innerHTML;

        items.push(item);
        itemsCounter++;
      });
      menuSection.items = items;
      menu.push(menuSection);
    }
    console.log(menu);

    function editItem(button) {
      //node holding item's name
      let itemName = button.parentNode.parentNode.parentNode.children[0].children[0];
      let name = prompt("please enter name:");
      itemName.innerHTML = name;

      let itemCalories = button.parentNode.parentNode.parentNode.children[0].children[1];
      let calories = prompt("please enter calories:");
      itemCalories.innerHTML = calories;

      let itemPrice = button.parentNode.parentNode.parentNode.children[0].children[2];
      let price = prompt("please enter price:");
      itemPrice.innerHTML = price;
    }
    </script>
  </body>
</html>
