#adminButton {
  background-color: #90EE90;
  border: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  color: black;
  float: left;
  display: inline-block;
  font-size: 12px;
  margin-left: 2%;
  margin-top: 5%;
}

#adminButton:active {
  background-color: #6bb06b
}

#shopButton {
  background-color: #ffdf00;
  border: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  color: black;
  float: left;
  display: inline-block;
  font-size: 12px;
  margin-top: 5%;
}

#shopButton:active {
  background-color: #c2a900
}

#banner {
  background-color: #007BFF;
  height: 9vh;
  width: 100%;
  margin: 0px;
}

#logo {
  /*background-color: #FFFF99;*/
  height: 100%;
  width: 20%;
  font-size: 40px;
  float: left;
  margin: 0px;
}

#bannerButtonContainer {
  /*background-color: #C4A484;*/
  height: 100%;
  width: 20%;
  display: inline-block;
}

#backgroundStockImage {
  background-color: #808080;
  height: 25vh;
  width: 100%;
}

body {
  background-image: url("https://wallpaperaccess.com/full/3353887.jpg");
  height:1000px;
}

.login_register_container{

}

.login_register_form_box {
  background-color: hsla(0, 100%, 70%, 0.5);

  padding-left: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.userForm {

}

.corpSpeak1 {
  padding-left: 100px;
  padding-top: 100px;
  padding-bottom: 30px;
  color: white;
  font-size: 75px;
}
.corpSpeak2 {
  padding-left: 100px;
  color: white;
  font-size: 75px;
}
