@font-face {
	font-family: NimbusSans;
	src: url(Nimbus-Sans.ttf);
}
#body {
	margin: 0px;
	padding: 0px;
}
#banner {
	background-color: #007BFF;
	height: 50px;
	width: 100%;
	margin: 0px;
	display: block;
	/*justify-content: space-between;*/
}
#QuickBitesLogo {
	height: 40px;
	float: left;
	margin: 5px;
}
#bannerButtonContainer {
	padding-left:5vh;
	height: 100%;
	width: 20%;
	display: inline-block;
	justify-content: flex-begin;
}
#userButtonContainer {
	height: 50px;
	gap: 10px;
	width: 100px;
	float: right;
	display: flex;
	justify-content: flex-end;
}

#menuButton {
	background-color: #ffdf00;
	border: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	color: black;
	padding: 5px 10px;
	text-align: center;
	float: left;
	display: inline-block;
	font-size: 12px;
	margin-top: 5%;
}

#shopButton {
	background-color: #ffdf00;
	border: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	color: black;
	padding: 5px 10px;
	text-align: center;
	float: left;
	display: inline-block;
	font-size: 12px;
	margin-top: 5%;
}
#shopButton:hover {background-color: #c2a900}

#adminButton {
	background-color: #90EE90;
	border: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	color: white;
	padding: 5px 10px;
	text-align: center;
	color: black;
	float: left;
	display: inline-block;
	font-size: 12px;
	margin-left: 2%;
	margin-top: 5%;
}
#adminButton:hover {background-color: #6bb06b}

#shoppingCartIcon {
	min-width: 50px;
	min-height: 50px;
	float: right;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	object-fit: contain;
	order: 1;
}
#shoppingCartIcon:hover {
	background-color: #3b99ff;
}

#shoppingCart {
	max-width: 100%;
	max-height: 100%;
}

#userAccount {
	max-width: 100%;
	max-height: 100%;
}

#userAccountIcon {
	min-width: 50px;
	min-height: 50px;
	padding: 5px;
	object-fit: contain;
	float: left;
	order: 0;
}
#userAccountIcon:hover {
	background-color: #3b99ff;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	font-family: NimbusSans;
	display: none;
	position: absolute;
	right:0;
	background-color: #f9f9f9;
	min-width: 350%;
	min-height: 300px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
	opacity: .9;
}

.itemListContainer {
	font-family: NimbusSans;
	opacity: .9;
}
.itemListContainer td, .dropdown-content th {
	padding: 8px;
}

.itemListContainer tr:nth-child(even){background-color: #e6e6e6;}
.itemListContainer th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.qpContainer {
	display: inline-block;
	height: 100%;
	width: 10%;
	float: right;
	margin-right: 20%;
}
.itemListName {
		float: left;
		display: inline-block;
		text-align: left;
}
.itemListQuantity {
		margin-left: 5%;
}
.itemListPrice {
		float: left;
		display: inline-block;
}
#backgroundStockImage {
	background-image: url("https://res.cloudinary.com/grubhub-marketing/image/upload/f_auto,fl_lossy/v1621280438/HERMES/2021/DINER/SOC/SOC-202104005-GHGuaranteeMVP/GH%20New%20Hero%20Image%20Headers/GH_Headers_Desktop_copy.jpg");
	background-size: cover;
	height: 200px;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
}
#searchContainer {
	width: 25vw;
	align-items: center;
	display: flex;
	justify-content: center;
}
#searchBar {
	display: flex;
	align-self: center;
	align-content: center;
}
#searchButtonContainer {
	display: flex;
	align-content: center;
	justify-content: center;
}
#searchButton {
	background-color: #90EE90;
	border: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	color: white;
	padding: 5px 10px;
	text-align: center;
	color: black;
	font-size: 12px;
	display: inline-block;
}
#searchButton:active {background-color: #6bb06b}
#searchStyle {
	width: 25vw;
}
#searchResults {
	font-family: NimbusSans;
	/*background-color: #fed8b1;*/
	width: 100%;
	height: 10vh;
	margin-top: 10px;
	text-align: center;
}
.resultsContainer {
	width: 40%;
	height: 20px;
	border-bottom: 1px solid;
	margin-left: 30%;
	text-align: left;
}
#advertisementContainer {
	width: 100%;
	height: 35vh;
}
.vendorCard {
	width: 15%;
	height: 100%;
	border: 1px solid;
	border-color: #D3D3D3;
	margin-left:1%;
	margin-right:1%;
	display: inline-block;
}
.itemPhoto {
	/*background-color: #FFD580;*/
	width: 100%;
	height: 60%;
	border-bottom: solid 1px;
	border-color: #D3D3D3;
}
.imageStyle {
	max-width: 100%;
	max-height: 100%;
}
